@charset "utf-8";

/* common */
:root {
   --main-blue: #1F66FF;
   --thumb-h: 220px;
}
html, body {
   overflow-x: hidden;
}
html {
   overflow-x: hidden;
   scroll-behavior: smooth;
}
body {
   font-size: 1.6rem;
   font-family: 'KoPubDotum', 'G-Market-Sans', 'Noto Sans KR', 'MalgunGothic', 'AppleSDGothic', sans-serif;
}
section {
   height: 100vh;
}
.sec01, .sec03, footer {
   background-image: url('../img/background_blue_noize.png');
   background-repeat: no-repeat;
   background-size: cover;
   color: #FFF;
}
h2, h3, .txt_main, p{
   font-family: "G-Market-Sans";
   font-weight: 700;
}
ul {
   font-family: "G-Market-Sans";
   font-weight: 500;
}
img {
   width: 100%;
}
.txt_con, .container, .cont_list.active {
   text-align: left;
   margin-left: 30rem;
}
.txt_con h2 {
   font-size: 2.5rem;
}


/* 팝업 */
.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
   background: rgba(0, 0, 0, 0.6);
}
.popup-content {
   background: #fff;
   padding: 3rem 2rem;
   border-radius: 1.5rem;
   text-align: center;
   font-weight: 300;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.popup-content h2 {
   margin-bottom: 1.5rem;
   font-size: 1.7rem;
   color: var(--main-blue);
}
.portfolio-notice {
   margin-bottom: 1.5rem;
}
.portfolio-notice li {
   position: relative;
   text-align: left;
   line-height: 1.7;
   padding-left: 1em;
   margin-bottom: 0.8rem;
   font-size: 1.3rem;
   font-family: "KoPubDotum";
}
.portfolio-notice li::before {
   content: "–";
   position: absolute;
   left: 0;
}
.portfolio-notice li strong {
   font-weight: 600;
}
#popup-close {
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 8px;
   font-size: 1.2rem;
   color: #fff;
   background-color: var(--main-blue);
   cursor: pointer;
}
#popup-close:hover {
   background-color: #0d0ba8;
}



/* menu */
#sideMenu {
   position: fixed;
   top: 50%;
   left: 7rem;
   transform: translateY(-50%);
   font-weight: 700;
   transition: color 0.3s;
   display: none;
}
#sideMenu li a {
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: center;
   gap: 0.7rem;
   margin: 2rem 0;
   font-size: 1rem;
   cursor: pointer;
}
#sideMenu li:hover {
   transform: translateX(5px);
}
#sideMenu a .star {
   font-size: 1.7rem;
}


/* HOME */
.sec01 {
   display: flex;
   position: relative;
   align-items: center;
   justify-content: center;
}
.sec01 h2 {
   font-size: 5rem;
}
.sec01 .txt_main {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 0.7rem;
   opacity: 0;
}
.sec01 h3 {
   font-size: 5rem;
   font-weight: 700;
}
.sec01 span {
   font-size: 2rem;
   font-weight: 500;
   letter-spacing: 7px;
}
.sec01 .txt_menu {
   position: absolute;
   bottom: 2rem;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   gap: 20rem;
   opacity: 0;
}
.sec01 .txt_menu .tab {
   position: relative;
   cursor: pointer;
   color: #FFF;
   text-decoration: none;
   font-size: 1.3rem;
   font-family: "G-Market-Sans";
}
/*  */
.sec01 .txt_menu .star01 {
   position: absolute;
   bottom: 100%;
   left: 50%;
   transform: translateX(-50%) translateY(0);
   opacity: 0;
   transition: opacity 0.3s, transform 0.3s;
}
.sec01 .txt_menu .tab:hover .star01 {
   opacity: 1;
   transform: translateX(-50%) translateY(-5px);
}



/* ABOUT */
.sec02 .txt_con {
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: flex-start;
   gap: 3rem;
   height: 100%;
}
.sec02 h2 {
   color: var(--main-blue);
}
.sec02 .txt_con dl, .txt_con dd {
   font-size: 1rem;
   font-family: "KoPubDotum";
}
.sec02 .about {
   display: flex;
   gap: 2rem;
}
.sec02 .about .profile, .certificate, .skill, .workexperience, .prize, .completion {
   width: 20rem;
   display: flex;
   margin-top: 1rem;
   margin-right: 1rem;
}
.sec02 .about01 dt {
   width: 30%;
   font-weight: 600;
}
.sec02 .about01 dd {
   margin-right: -30rem;
   font-weight: 400;
}
.sec02 .about02 dt {
   width: 23%;
   font-weight: 600;
}
.sec02 .about02 dd {
   margin-right: -30rem;
   font-weight: 400;
}
.sec02 .skill dd {
   display: flex;
   align-items: center;
   gap: 2rem;
   position: relative;
   font-weight: 500;
}
.sec02 .level span {
   display: flex;
   justify-content: left;
   margin-bottom: 1rem;
   margin-left: 7rem;
   white-space: pre;
   color: var(--main-blue);
}
.sec02 .certificate dd, .skill dd {
   margin-bottom: 1rem;
}
.sec02 .skill:last-child {
   margin-bottom: none;
}
.sec02 .certificate:first-child {
   margin-top: 3rem;
}
.sec02 .workexperience:first-child {
   margin-top: 2rem;
}


/* PORTFOLIO */
#section03 {
   overflow-x: hidden;
}
.sec03 {
   display: flex;
   flex-direction: column;
   background-size: cover;
}
.sec03 h2 {
   margin: 15rem 0 3rem 0;
}

/* 탭 메뉴 */
.tabs {
   display: flex;
   gap: 5rem;
}
.tabs .tab {
   position: relative;
   cursor: pointer;
   text-decoration: none;
   color: #FFF;
   font-family: "G-Market-Sans";
   font-size: 1.3rem;
   padding: 5px 0;
   line-height: 1;
}
.tabs .icon {
   position: absolute;
   bottom: 90%;
   left: 50%;
   transform: translateX(-50%) translateY(0);
   opacity: 0;
   transition: opacity 0.3s, transform 0.3s;
   font-size: 1.2rem;
}
.tabs .tab:hover .icon {
   opacity: 1;
   transform: translateX(-50%) translateY(-5px);
   color: #FFF;
}
.tabs .tab.active {
   color: #FFF;
}
.tabs .tab.active .icon {
   opacity: 1;
   transform: translateX(-50%) translateY(-5px);
   color: #FFF;
}

/* 포트폴리오 이미지 */
.tab-content {
   display: none;
   height: auto;
   overflow: visible;
   padding-left: 30rem;
}
.tab-content.active {
   display: block;
   overflow: visible;
   height: auto;  
}
.tab-content ul {
   width: 80%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1.5rem;
   overflow: hidden;
   max-height: 0;
   transition: max-height 0.6s ease;
}
.tab-content ul {
   width: 80%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1.5rem;
   margin-top: 1.5rem;
   overflow: hidden;
   max-height: var(--thumb-h);
   transition: max-height 0.6s ease;
}
.tab-content ul.expanded {
   max-height: 5000px;
}
.tab-content li {
   position: relative;
   overflow: hidden;
}
.portfolio_gallery {
   width: 100%;
   display: block;
}
.portfolio_gallery ul {
   width: 85%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1.5rem;
   margin-top: 2rem;
   overflow: hidden;
   max-height: 400px;
   transition: max-height 0.6s ease;
}
.portfolio_gallery ul.expanded {
   max-height: 5000px;
}
.hidden {
   display: none !important;
}
.portfolio_gallery li {
   display: none;
}
.portfolio_gallery li.visible {
   display: block;
}
.portfolio_gallery li img {
   width: 100%;
   display: block;
}
#tab1 .portfolio_gallery ul {
   max-height: 400px;
   transition: max-height 0.6s ease;
}
#tab1 .portfolio_gallery li {
   display: none;
}
#tab1 .portfolio_gallery li.visible {
   display: block;
}
#tab1 .portfolio_gallery ul.expanded {
   max-height: none; /* 높이 제한 해제 */
   overflow: visible;
}

/* hover 효과 */
.tab-content li {
   position: relative;
   overflow: hidden;
   transition: 0.3s;
   border-radius: 0.5rem;
}
.tab-content li:hover {
   box-shadow: 3px 3px 7px rgb(0, 0, 0, 0.3);
}
.tab-content li span {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   white-space: nowrap;
   opacity: 0;
   transition: 0.3s;
   pointer-events: none;
   font-family: "KoPubDoTum";
   font-size: 1.4rem;
   font-weight: 600;
   text-align: center;
   line-height: 1.9rem;
   background: none;
}
.tab-content li:hover span {
   color: #fff;
   opacity: 1;
}
.tab-content li img:hover {
   filter: brightness(40%);
}
li span {
   color: var(--main-blue);
}

/* 토글 버튼 */
#tab1 .toggle-btn {
   margin-top: 3rem;
   background: none;
   border: none;
   cursor: pointer;
   font-size: 3rem;
   color: #FFF;
   display: flex;
   transform: translateX(40.4%);
   width: 100%;
   transition: transform 0.3s;
}
#tab1 .toggle-btn.active i {
   transform: rotate(180deg);
   transition: transform 0.3s;

}


/* contact */
.sec04 {
   height: 50vh;
}
.sec04 .txt_con {
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: flex-start;
   gap: 3rem;
   height: 100%;
}  
.sec04 h2 {
   color: var(--main-blue);
}
.sec04 .contact {
   display: flex;
   gap: 5rem;
}
.sec04 dl {
   display: flex;
   gap: 2rem;
}
.sec04 .contact dt, .contact dd {
   font-size: 1.2rem;
   gap: 0.5rem;
   font-family: "G-Market-Sans";
   color: var(--main-blue);
}
.sec04 dt {
   font-weight: 700;
}
.sec04 dd {
   font-weight: 500;
}


/* footer */
footer {
   position: relative;
   z-index: 0;
   padding: 3.5rem;
}
footer::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: -1;
}
footer .portfolio_info {
   display: flex;
   /* justify-content: space-between; */
   flex-direction: column;
   text-align: center;
   font-family: "G-Market-Sans";
   gap: 1rem;
}
footer address {
   font-size: 0.8rem;
   font-weight: 300;
   line-height: 1.7rem;
}
footer address span {
   margin: 0 0.7rem;
   opacity: 70%;
}
footer address a {
   opacity: 70%;
}
footer address a:hover {
   cursor: pointer;
   opacity: 100%;
}
footer p {
   font-size: 0.7rem;
   font-weight: 300;
   transition: transform 0.2s;
}
@keyframes shake {
   0% { transform: translateX(0); }
   20% { transform: translateX(-3px); }
   40% { transform: translateX(3px); }
   60% { transform: translateX(-3px); }
   80% { transform: translateX(3px); }
   100% { transform: translateX(0); }
}
.copyright a {
   transition: transform 0.2s;
   display: inline-block;
}
footer .copyright a:hover{
   cursor: pointer;
   animation: shake 0.5s ease-in-out;
}
